# Step 1 - Data Engineering

The climate data for Hawaii is provided through two CSV files. Start by using Python and Pandas to inspect the content of these files and clean the data.


*  Create a Jupyter Notebook file called data_engineering.ipynb and use this to complete all of your Data Engineering tasks.
*  Use Pandas to read in the measurement and station CSV files as DataFrames.
*  Inspect the data for NaNs and missing values. You must decide what to do with this data.
*  Save your cleaned CSV files with the prefix clean_.

### Dependencies

In [1]:
import pandas as pd
import numpy as np

Read .csv files into Pandas DataFrames

In [2]:
measurements = pd.read_csv("Resources/hawaii_measurements.csv")
stations = pd.read_csv("Resources/hawaii_stations.csv")

measurements is long, I want the header

In [3]:
measurements.head(1)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65

stations is short, it's okay to print it all out.

In [4]:
stations

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

Within measurements are some null or missing values, mostly under prcp.  Let's fill those with 0 measurements and write it to a .csv

In [5]:
measurements.fillna(0).to_csv("Resources/clean_hawaii_measurements.csv", index=None)
stations.fillna(0).to_csv("Resources/clean_hawaii_stations.csv", index=None)